<!DOCTYPE html>
<!--
 *  Copyright (c) 2014 The WebRTC project authors. All Rights Reserved.
 *
 *  Use of this source code is governed by a BSD-style license
 *  that can be found in the LICENSE file in the root of the source
 *  tree.
-->
<html>
<head>

  <meta charset="utf-8">
  <meta name="description" content="AppRTC: Room full">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <meta itemprop="description" content="Pitchium: Meeting is full">
  <meta itemprop="image" content="/images/webrtc-icon-192x192.png">
  <meta itemprop="name" content="AppRTC: Room full">
  <meta name="mobile-web-app-capable" content="yes">
  <meta id="theme-color" name="theme-color" content="#1e1e1e">

  <base target="_blank">

  <title>Pitchium: Meeting full</title>

  <link rel="icon" sizes="192x192" href="/images/webrtc-icon-192x192.png">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="canonical" href="{{ room_link }}">

  <style>
    body {
      font-family: "Open Sans";
      font-weight: 100;
      padding: 25% 0 0 0;
    }

    button {
      display: block;
      font-size: 1.5em;
      font-family: sans-serif;
      margin: 0 auto;
      padding: .5em .5em .3em .5em;
      width: 12em;
    }

    div {
      color: white;
      font-size: 2em;
      margin: 0 0 2em 0;
      text-align: center;
    }
  </style>

</head>
<body>

  <div>Sorry, this meeting is full.</div>

</body>
</html>
